---
import Layout from "../layouts/DefaultLayout.astro";

// Metadatas
const metadata = {
    title: "Mentions légales | Mine de rien",
    description: "Facilication graphique",
};
---

<Layout metadata={metadata}>
    <section id="hero" class="container">
        <h1>Mentions légales</h1>
    </section>
</Layout>
