---
import Layout from "../layouts/DefaultLayout.astro";

// Metadatas
const metadata = {
    title: "Mentions légales | Mine de rien",
    description: "Facilication graphique",
};
---

<Layout metadata={metadata}>
    <section id="hero" class="container">
        <h1>Mentions légales</h1>
        <h2>1. Éditeur du site</h2>
        <p>
            Le site internet https://minederien-facilitation.com est édité par :
            Emilie Allard<br />
            Adresse : [Adresse à compléter]<br />
            Email : [Email à compléter]<br />
            SIRET: [Numéro à compléter]
        </p>

        <h2>2. Hébergement</h2>

        <p>
            Le site est hébergé par :[Nom de l’hébergeur] Adresse: [Adresse de
            l'hébergeur]<br />
            Site web : [URL de l'hébergeur]<br />
        </p>

        <h2>3. Propriété intellectuelle</h2>
        <p>
            L'ensemble du contenu présent sur le site (textes, images,
            graphismes, logos, vidéos, etc.) est protégé par le droit d'auteur
            et la propriété intellectuelle. Toute reproduction, distribution ou
            utilisation non autorisée est interdite sauf autorisation expresse
            de l'éditeur du site.
        </p>

        <h2>4. Données personnelles</h2>
        <p>
            Les informations recueillies sur le site sont destinées à [préciser
            l'utilisation des données, ex. la gestion des demandes de contact].
            Conformément au Règlement Général sur la Protection des Données
            (RGPD), vous disposez d'un droit d'accès, de rectification et de
            suppression des données personnelles vous concernant.
        </p>
        <p>Pour exercer ce droit, contactez : [Email de contact].</p>

        <h3>5. Cookies</h3>
        <p>Ce site n'utilise aucun cookies</p>

        <h2>6. Responsabilité</h2>
        <p>
            L'éditeur du site s'efforce de fournir des informations exactes et
            mises à jour, mais ne saurait être tenu responsable des erreurs,
            omissions ou d'une indisponibilité du site.
        </p>

        <h2>7. Contact</h2>
        <p>
            Pour toute question relative aux mentions légales, vous pouvez
            contacter : <a href="mailto:minederien.facilitation@gmail.com"
                >minederien.facilitation@gmail.com</a
            >.
        </p>
    </section>
</Layout>
