---
import Button from "./ui/Button.astro";
---

<aside id="contact">
    <div class="container alignwide">
        <div>
            <h2>Keep in touch !</h2>
            <p><strong>Emilie Allard</strong> - Facilitatrice graphique</p>
            <p class="text-sm">
                <a href="tel:0698935921">06 98 93 59 21</a>
                <br />
                <a href="mailto:minederien.facilitation@gmail.com">
                    minederien.facilitation@gmail.com
                </a>
            </p>
        </div>
        <Button
            class="button"
            href="mailto:minederien.facilitation@gmail.com"
            ariaLabel="Envoyez moi un message par email"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                aria-hidden="true"
            >
                <g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7l-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </g>
            </svg>
            M'écrire un message
        </Button>
    </div>
</aside>

<style>
    aside {
        padding-block: clamp(2rem, 8vw, 4rem);
        background-color: var(--color-secondary-medium);
    }
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2 {
        margin: 0;
        max-width: 30rem;
        text-wrap: balance;
        font-weight: bold;
        color: var(--color-primary);
        line-height: 1;
    }

    .button svg {
        margin-block-start: -0.5rem;
    }

    .social-links {
        list-style: none;
        padding: 0;
    }
    .social-link {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        transition: color var(--transition);
    }
</style>
