---
import "../styles/global.css";
const {
    title = "Mine de rien",
    description = "Facilitation graphique à Rouen",
} = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <title>{title}</title>

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <main id="content">
            <slot />
        </main>
    </body>
</html>

<style>
    body {
        font-family: var(--font-body);
        color: var(--color-text);
        background-color: var(--color-secondary-light);
    }
</style>
